// /* Robto Slab Regular */
// @font-face {
//   font-family: 'Roboto Slab';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
//   unicode-range:  U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* Robto Slab Bold */

// @font-face {
//   font-family: 'Roboto Slab';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');
//   unicode-range:  U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* Maven PRo */
// @font-face {
//   font-family: 'Maven Pro';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Maven Pro Medium'), local('MavenPro-Medium'), url(https://fonts.gstatic.com/s/mavenpro/v11/7Au4p_AqnyWWAxW2Wk3OPkcdP3kD.woff2) format('woff2');
//   unicode-range:  U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

/* Muli */
@font-face {
	font-family: "Muli";
	font-style: normal;
	font-weight: 400;
	src: local("Muli Regular"), local("Muli-Regular"),
		url(https://fonts.gstatic.com/s/muli/v11/7Auwp_0qiz-afTLGLQ.woff2)
			format("woff2");
	unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

/*Muli */
@font-face {
	font-family: "Muli";
	font-style: normal;
	font-weight: 800;
	src: local("Muli ExtraBold"), local("Muli-ExtraBold"),
		url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZXgOCX2zw.woff2)
			format("woff2");
	unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: "SansationRegular";
	src: url("../fonts/Sansation_Regular-webfont.eot");
	src: local("☺"), url("../fonts/Sansation_Regular-webfont.woff") format("woff"),
		url("../fonts/Sansation_Regular-webfont.ttf") format("truetype"),
		url("../fonts/Sansation_Regular-webfont.svg#webfontEq8FCprS") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SansationLight";
	src: url("../fonts/Sansation_Light-webfont.eot");
	src: local("☺"), url("../fonts/Sansation_Light-webfont.woff") format("woff"),
		url("../fonts/Sansation_Light-webfont.ttf") format("truetype"),
		url("../fonts/Sansation_Light-webfont.svg#webfontfPOciJs8") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SansationBold";
	src: url("../fonts/Sansation_Bold-webfont.eot");
	src: local("☺"), url("../fonts/Sansation_Bold-webfont.woff") format("woff"),
		url("../fonts/Sansation_Bold-webfont.ttf") format("truetype"),
		url("../fonts/Sansation_Bold-webfont.svg#webfont1wKwsA5I") format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin font-display() {
	font-family: "SansationRegular", "Muli", "Helvetica Neue", "Helvetica",
		Helvetica, Arial, sans-serif;
	font-weight: 300;
}
@mixin font-display-bold() {
	font-family: "SansationBold", "Muli", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}

@mixin font-slab {
	font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}
@mixin font-slab-bold {
	font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
	font-weight: 700;
	letter-spacing: 0.75px;
}

@mixin font {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 400;
	letter-spacing: -0.25px;
}

@mixin font-light {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 300;
}
@mixin font-medium {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 600;
	letter-spacing: 0px;
}

@mixin font-italic {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}
@mixin font-bold {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 700;
	letter-spacing: -0.25px;
}
@mixin font-italic-bold {
	font-family: "Muli", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica,
		Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
}

html {
	-webkit-font-smoothing: antialiased;
	-webkit-line-break: after-white-space;
	-webkit-locale: "en";
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	line-break: white-space;
}
