@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v11/7Auwp_0qiz-afTLGLQ.woff2) format("woff2");
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  src: local("Muli ExtraBold"), local("Muli-ExtraBold"), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZXgOCX2zw.woff2) format("woff2");
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "SansationRegular";
  src: url("../fonts/Sansation_Regular-webfont.eot");
  src: local("☺"), url("../fonts/Sansation_Regular-webfont.woff") format("woff"), url("../fonts/Sansation_Regular-webfont.ttf") format("truetype"), url("../fonts/Sansation_Regular-webfont.svg#webfontEq8FCprS") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SansationLight";
  src: url("../fonts/Sansation_Light-webfont.eot");
  src: local("☺"), url("../fonts/Sansation_Light-webfont.woff") format("woff"), url("../fonts/Sansation_Light-webfont.ttf") format("truetype"), url("../fonts/Sansation_Light-webfont.svg#webfontfPOciJs8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SansationBold";
  src: url("../fonts/Sansation_Bold-webfont.eot");
  src: local("☺"), url("../fonts/Sansation_Bold-webfont.woff") format("woff"), url("../fonts/Sansation_Bold-webfont.ttf") format("truetype"), url("../fonts/Sansation_Bold-webfont.svg#webfont1wKwsA5I") format("svg");
  font-weight: normal;
  font-style: normal;
}@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/icons/fa-regular-400.eot");
  src: url("./assets/icons/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("./assets/icons/fa-regular-400.woff2") format("woff2"), url("./assets/icons/fa-regular-400.woff") format("woff"), url("./assets/icons/fa-regular-400.ttf") format("truetype"), url("./assets/icons/fa-regular-400.svg#fontawesome") format("svg");
}@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/icons/brandssub.eot");
  src: url("./assets/icons/brandssub.eot?#iefix") format("embedded-opentype"), url("./assets/icons/brandssub.woff2") format("woff2"), url("./assets/icons/brandssub.woff") format("woff"), url("./assets/icons/brandssub.ttf") format("truetype"), url("./assets/icons/brandssub.svg#fontawesome") format("svg");
}@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/icons/fa-solid-900.eot");
  src: url("./assets/icons/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./assets/icons/fa-solid-900.woff2") format("woff2"), url("./assets/icons/fa-solid-900.woff") format("woff"), url("./assets/icons/fa-solid-900.ttf") format("truetype"), url("./assets/icons/fa-solid-900.svg#fontawesome") format("svg");
}@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/icons/fa-light-300.eot");
  src: url("./assets/icons/fa-light-300.eot?#iefix") format("embedded-opentype"), url("./assets/icons/fa-light-300.woff2") format("woff2"), url("./assets/icons/fa-light-300.woff") format("woff"), url("./assets/icons/fa-light-300.ttf") format("truetype"), url("./assets/icons/fa-light-300.svg#fontawesome") format("svg");
}